@font-face {
font-family: 'robotoregular';
src: url('../fonts/Roboto-Regular.woff2') format('woff2'),url('../fonts/Roboto-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}
body{font-family: 'robotoregular', sans-serif;}
.img-center{display: block;
margin-left: auto;
margin-right: auto;
max-width: 100%;
height: auto;
}

.main-color{color: #0ab596;}
.ma{margin-top:10px;margin-bottom: 10px}

.carousel-inner img {
width: 100%;
height: 100%;
}


/* change the background color */
.navbar-custom {background-color: #fea5ae;}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
color: #cc0000;
padding: 0.8rem 1rem;
}
/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
color: rgba(255,255,255,.5);
padding: 1rem 1rem;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link{
color: #ffffff;
background-color: #f48a94; /* add background-color to active links */
}
.navbar-custom .nav-item:hover .nav-link {
color: #ffffff;
background-color: #f48a94; /* add background-color to active links */
}


.menu-item{padding: 15px 15px 15px 15px;color:#ffffff !important;}
.menu-item.active{background-color:#f48a94; }
/* .menu-item a:link{color:#fff;} */
.menu-item:hover{background-color:#f1c8cc;color: #ffffff !important; }

.navbar-nav a:link{color: #fff;}
.navbar-nav a:hover{color: #fff;}
.navbar-nav a:active{color: #fff;}
.navbar-nav a:focus{color: #fff;}
.navbar-nav a:visited{color: #fff;}

.category h2{font-size: 1.6rem;font-weight: bold;}
.category h2 a:link{color: #0ab596;}
.category h2 a:hover{color: #fea5ae;}
.category h2 a:active{color: #0ab596;}
.category h2 a:focus{color: #0ab596;}
.category h2 a:visited{color: #0ab596;}

.bg_foot {background-color: #f1f2f5;border-top: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6}


.pad5{padding-top: 5px;padding-bottom: 5px;}
.pad10{padding-top: 10px ;padding-bottom: 10px;}
.pad20{padding-top: 20px ;padding-bottom:20px;}
.ma-2{margin-top: 2px;}
.ma-5{margin-top: 5px;margin-bottom: 5px;}
.ma-10{margin-top: 10px;margin-bottom: 10px;}
.ma-20{margin-top: 20px;margin-bottom: 20px;}

.footer{margin-top: 40px;}

.under-title {font-size: 1rem;text-transform: uppercase;}

.mo-title h4{font-size: 2.5rem;font-weight: bold;color: #fb9fa5;}
.page_footer{background-color: #1d2326;min-width: 150px;color: #a6a6a6;}

.page_footer a:link{color: #0ab596;}
.page_footer a:hover{color: #fea5ae;}
.page_footer a:active{color: #0ab596;}
.page_footer a:focus{color: #0ab596;}
.page_footer a:visited{color: #0ab596;}
/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}
.bg-top{background-image: url(../img/bg_fashion.jpg);height: 150px;}

.box-home-a{font-size:1rem;}
.box-home-a h3{font-size:1.3rem;margin-top: 10px;}
.box-home-a h3 a:link{color: #0ab596}
.box-home-a h3 a:hover{color:#f0c7cb}
.box-home-a h3 a:active{color: #0ab596;}
.box-home-a h3 a:focus{color: #0ab596;}
.box-home-a h3 a:visited{color: #0ab596;}

.box-home-b{font-size:1.3rem;margin-top:30px;margin-bottom: 30px;color:#333;}


.box-home-c{font-size:1rem;}
.box-home-c h3{font-size:1.3rem;margin-top: 10px;}
.box-home-c h3 a:link{color: #0ab596}
.box-home-c h3 a:hover{color:#f0c7cb}
.box-home-c h3 a:active{color: #0ab596;}
.box-home-c h3 a:focus{color: #0ab596;}
.box-home-c h3 a:visited{color: #0ab596;}

.box-home-d{font-size:1.3rem;margin-top:30px;margin-bottom: 30px;color:#333;}

.home-short-title{font-size: 1rem;color: #747474;margin-top: 8px;margin-bottom: 10px;}
.be{color: #e0979e;}

 .pagenavi{clear:both;position: relative; float: right; margin-top: 35px;} 
 .pagenavi span,.pagenavi a{color: #4d4d4d;padding:4px;margin-right:5px;background:transparent;border:1px solid #cdcdcd} 
 .pagenavi a:hover,.pagenavi .current{background:#fea5ae;color:#fff;text-decoration:none;padding:4px;} .pagenavi .pages,.pagenavi .current{color: #fff;font-weight:bold} .pagenavi .pages{border:none;color:#333;text-decoration:none;padding:4px;border:1px solid #cdcdcd} 

 .single{text-align: justify;}
 .single h1{font-size: 2rem;font-weight: bold;text-align: center;}
 .single small{font-size: 1rem;font-weight: italic;text-align: center;color:#e0979e;}
 .single img{
 display: block;
margin-left: auto;
margin-right: auto;
max-width: 100%;
height: auto;
}

.sidebar h3 {}
.sidebar h3{font-size:1.3rem;margin-top: 10px;}
.sidebar h3 a:link{color: #0ab596}
.sidebar h3 a:hover{color:#f0c7cb}
.sidebar h3 a:active{color:#f0c7cb}
.sidebar h3 a:visited{color:#0ab596}

.widget_text h2{font-size:1.4rem;}
.widget_text{padding:10px}

@media (max-width: 670px) {
	.bg-top{background-image: url(../img/bg_fashion.jpg);height: auto;}
	.hid{display:none;}
}
